.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

hr {
  margin-block: 30vh;
}

h1,
h2:not(.left) {
  text-align: center;
  margin-block-end: 4rem;
}

h1 {
  margin-block-start: 30vh;
}

h3 {
  margin-block: 3rem 1rem;
}

main {
  margin-bottom: 30vh;
}

form,
.flex,
fieldset,
label {
  display: flex;
  align-items: center;
}

label {
  line-height: 1.2rem;
}

fieldset {
  padding: 0;
}

form {
  margin-block-end: 2rem;
}
